{% extends 'base.html.twig' %} {% block body %}

    <div class="pagesNav">
    <a href="index.php?action=administration">← Revenir au menu d'administration</a>
    </div>

    <section class="CommentsContainer">
    <h1 class="page-title">Liste des articles</h1>
    <div class="dfull">
        <a class="btn bg-green" href="index.php?action=createArticle" id="createArticle">Créer un nouvel article </a>
    </div>

        <div class="listComments dfull fdc">

            {% for articleNoPublish in articlesNoPublish %}
                <div class="gestionComment dfull gap bxs">
                    <div class="com">
                    <a href="index.php?action=article&id_article={{articleNoPublish.idArticle}}">{{ articleNoPublish.title }}</a>
                        <p>
                            Publié le: <b>"{{ articleNoPublish.datePublication | date('d-m-Y') }}"</b>
                        </p>

                        <p>
                            Modifié le: <b>"{% if articleNoPublish.datePublication != articleNoPublish.dateModification %} {{ articleNoPublish.dateModification | date('d-m-Y') }} {% else %} {{ "---" }} {% endif %}"</b>
                        </p>
                    </div>

                    <div class="comChoice gap">
                    
                        <a class="btn bg-green" href="index.php?action=formUpdateArticle&id_article={{articleNoPublish.idArticle}}" id="formUpdateArticle">Modifier</a>
                        <a class="btn bg-red" href="index.php?action=deleteArticle&id_article={{articleNoPublish.idArticle}}" id="deleteArticle">Supprimer</a>   
                        <a class="btn bg-red" href="index.php?action=publishArticle&id_article={{articleNoPublish.idArticle}}" id="publishArticle">Publier</a>   
                        
                    </div>
                        
                </div>
            {% endfor %}

             {% for articlePublish in articlesPublish %}
                <div class="gestionComment dfull gap bxs">
                    <div class="com">
                    <a href="index.php?action=article&id_article={.id_article}}">{{ articlePublish.title }}</a>
                        <p>
                            Publié le: <b>"{{ articlePublish.datePublication | date('d-m-Y') }}"</b>
                        </p>

                        <p>
                            Modifié le: <b>"{% if articlePublish.datePublication != articlePublish.dateModification %} {{ articlePublish.dateModification | date('d-m-Y') }} {% else %} {{ "---" }} {% endif %}"</b>
                        </p>
                    </div>
                   
                    <div class="comChoice gap">
                        <a class="btn bg-green" href="index.php?action=formUpdateArticle&id_article={{articlePublish.idArticle}}" id="formUpdateArticle">Modifier</a>
                        <a class="btn bg-red" href="index.php?action=deleteArticle&id_article={{articlePublish.idArticle}}" id="deleteArticle">Supprimer</a>   
                        
                    </div>
                        
                </div>
            {% endfor %}
        </div>

        
    </section>

{% endblock %}
