{% extends 'base.html.twig' %} {% block body %}

    <section class="single-post dfull pd">
        <div class="left-container light-text dfull fdc gap">
            <div class="info-article ">
                <h1 class="wp-article"> {{article.title}} </h1>
                <h2 class="wp-article">{{article.chapo}}</h2>
                <p class="wp-article">{{article.content}}</p>
            </div>
            
            <div class="comment-container bxs">
                <h3>Commentaires</h3>
                <form action="index.php?action=createComment&id_article={{article.idArticle}}" method="POST" class="df fdc gap">
                    <label for="message">Message :</label>
                    <textarea type="text" id="message" name="message" required rows="10" cols="50"></textarea>

                    <button name="submitComment" type="submit" class="btnSubmitComment btn dark bg-light-blue">Ajouter commentaire</button>
                </form> 
                
                 {% for comment in comments %}
                    <div class="comment">
                        <p class="text-justify">{{ comment.content }}</p>
                        <span>
                            par <b>{{ comment.pseudo }}</b>
                        </span>
                    </div> 
                 {% endfor %}
            </div>
        </div>

        <div class="right-container">
            <img class="bxs" src="{{article.image}}" alt="{{article.title}}" />
        </div>
    </section>

{% endblock %}
  