{% extends 'base.html.twig' %} {% block body %}
  <div class="body-width">
    <h2 class="page-title">Projets</h2>
  </div>

<section class="portfolio dfull wrap">

  {% for article in articles %} 
  <div class="project-container tac dfull gap fdc bg-dark light bxs">
    <h2 class="wp-portfolio"> {{article.title}} </h2>
    <img src="/BLOG-PHP/public/img/upload/{{article.image}}" alt="{{article.title}}" />
    <div class="project-contain dfull fdc wp-portfolio">
      <h3 class="wp-portfolio">{{article.chapo}}</h3>
      <button class="btn dark bg-light-blue">
        <a href="index.php?action=article&id_article={{article.idArticle}}">Voir plus</a>
      </button>
      {% if session.role == 1  %}
      <a href="index.php?action=formUpdateArticle&id_article={{article.idArticle}}"> Modifier un article </a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</section>

<script>
  let paragraph = document.querySelectorAll(".nbText");
  let maxLength = 210;

  paragraph.forEach((paragraph) => {
    if (paragraph.textContent.length > maxLength) {
      const truncatedText =
        paragraph.textContent.substring(0, maxLength) + "...";
      paragraph.textContent = truncatedText;
    }
  });
</script>

{% endblock %}
